.contaienr {
  height: auto;
}

.title {
  font-size: 3rem; /* Responsive font size */
  margin-bottom: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userImageContainer {
  width: 4rem;
  height: 4rem;
  position: relative;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--softTextColor);
}

.username {
  font-size: 1.25rem;
  font-weight: 500;
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  gap: 2rem;
}

.post {
  flex: 5;
  margin-top: 4rem;
}

.description p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1536px) {
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 1.5rem;
  }

  .description p {
    font-size: 1rem;
  }
}
